<!--================================
            START DASHBOARD AREA
    =================================-->
<app-header></app-header>

<section class="dashboard-area" style="background: white;">

	<div class="dashboard_contents dashboard_statement_area">

		<div class="container">

			<div class="row">

				<div class="col-md-12">
					<div class="card ">
						<br>
						<div class="row">
							<div class="col-md-1">
							</div>
							<div class="col-md-8">
								<h2>
									Lista de Productos
								</h2>
							</div>
							<div class="col-md-3">
								<div class="pull-right">
									<a href="#" class="btn btn--md btn--round"
										(click)="modalCrearUsuario(ModalCreacionUsuario)" data-target="#myModal1"
										data-toggle="modal">Cargar
										Productos</a>
								</div>
							</div>

						</div>
						<br>
						<div class="card-body bg-transparent border-success card-footer card-footer">
							<div class="row">
								<div class="col-md-12">
									<br>
									<table id="tblProductos" class="display" style="width: 100%">
										<thead>
											<tr>
												<th>Código</th>
												<th>Iva Compra</th>
												<th>Nombre</th>
												<th>Precio Venta</th>
												<th>Precio Compra</th>
												<th>Nit Proveedor</th>
												<th>Editar</th>
												<th>Eliminar</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of listProductos">
												<td>{{item.codigo_producto}}</td>
												<td>{{item.iva_compra}}</td>
												<td>{{item.nombre_producto}}</td>
												<td>{{item.precio_venta}}</td>
												<td>{{item.precio_compra}}</td>
												<td>{{item.nit_proveedor}}</td>
												<td><button class='btn btn--icon btn-sm btn--round btn-info'
														data-target='#myModalUpdate' data-toggle='modal'
														(click)="editarProducto(item.codigo_producto,content)">
														<i class='fas fa-edit'></i></button></td>

												<td><button class='btn btn--icon btn-sm btn--round btn-danger'
														(click)="eliminarProducto(item.codigo_producto)">
														<i class='far fa-trash-alt btn btn-danger'></i> </button></td>
											</tr>
										</tbody>
										<tfoot>
											<tr>
												<th>Código</th>
												<th>Iva Compra</th>
												<th>Nombre</th>
												<th>Precio Venta</th>
												<th>Precio Compra</th>
												<th>Nit Proveedor</th>
												<th>Editar</th>
												<th>Eliminar</th>
											</tr>
										</tfoot>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<section>
				<br> <br> <br>
			</section>
		</div>
		<!-- end /.container -->
	</div>

	<!-- end /.dashboard_menu_area -->
</section>
<!--================================
            END DASHBOARD AREA
    =================================-->


<!-- Modals -->
<ng-template #ModalCreacionUsuario let-modal>

	<!--div class="modal fade rating_modal" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="rating_modal">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content"-->
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title" id="rating_modal">Cargar Productos</h3>
	</div>
	<!-- end /.modal-header -->
	<!--================================
           			 START DASHBOARD AREA
   					 =================================-->
	<div class="container">

		<form [formGroup]="cargarCsvForm" id="formcsv" class="setting_form" (ngSubmit)="cargarCsv()"
			enctype="multipart/form-data">
			<div class="row">
				<div class="col-lg-12">
					<div class="information_module">
						<div class="information__set">
							<div class="information_wrapper form--fields">
								<div *ngIf="submitted && cargarCsvForm.invalid" class="alert alert-danger"
									style="text-align: center;" role="alert">
									Debe adjuntar el archivo CSV
								</div>
								<div class="form-group">
									<label for="cv_upload">Cargar Archivo</label> <label for="cv_upload"
										class="cv_upload"> <span class="text">Selecciona el CSV de
											productos</span> <span class="lnr lnr-upload up_icon"></span>
											 <input formControlName="file" id="cv_upload" type="file" name="fileName">
									</label>
								</div>
							</div>
							<!-- end /.row -->
							<div class="row">
								<div class="col-md-6 offset-lg-8">
									<button type="submit" id="BtnRegistrar"
										class="btn btn--round btn--default">Cargar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- end /.information_module -->
				</div>
			</div>
		</form>
		<!-- end /form -->
	</div>
	<!-- end /.container -->

	<!--================================
            END DASHBOARD AREA
    		=================================-->

	<!-- end /.modal-body>
		</div>
	</div>
</div-->
</ng-template>

<!-- end /.modal -->



<!-- Modals -->
<ng-template #content let-modal>

	<!--div class="modal fade rating_modal" id="myModalUpdate" tabindex="-1"
		role="dialog" aria-labelledby="rating_modal">
		<div class="modal-dialog modal-lg modal-dialog-centered"
			role="document">
			<div class="modal-content"-->
	<div class="modal-header">
		<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
			<span aria-hidden="true">&times;</span>
		</button>
		<h3 class="modal-title" id="rating_modal">Actualización de Productos</h3>
	</div>
	<!-- end /.modal-header -->
	<!--================================
           			 START DASHBOARD AREA
   					 =================================-->

	<div class="container">
		<form [formGroup]="actualizarProductoForm" class="setting_form" (ngSubmit)="actualizarProducto()">

			<div class="row">
				<div class="col-lg-12">
					<div class="information_module">
						<div class="information__set">
							<div class="information_wrapper form--fields">
								<div *ngIf="submitted && actualizarProductoForm.invalid" class="alert alert-danger"
								style="text-align: center;" role="alert">
								Todos los campos son obligatorios
							</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="first_name">Código <sup>*</sup>
											</label> <input type="number" formControlName="codigo" id="txt_codigoUpdate"
												class="text_field" placeholder="Ingrese codigo del producto"
												required="required">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="last_name">Iva Compra <sup>*</sup>
											</label> <input type="number" formControlName="iva"
												id="txt_iva_campraUpdate" class="text_field" 
												placeholder="Ingrese iva de compra" required="required">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label for="first_name">Nombre Producto <sup>*</sup>
											</label> <input type="text" formControlName="nombre" id="txt_nombreUpdate"
												class="text_field" placeholder="Ingrese nombre del producto"
												required="required">
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label for="last_name">Precio Venta <sup>*</sup>
											</label> <input type="number" formControlName="precio_venta"
												id="txt_precio_ventaUpdate" class="text_field" p
												placeholder="Ingrese precio de venta" required="required">
										</div>
									</div>
								</div>
								<!-- end /.row -->


								<div class="form-group">
									<label for="email">Precio Compra <sup>*</sup>
									</label> <input type="number" formControlName="precio_compra" id="txt_precio_compraUpdate"
										class="text_field" placeholder="Íngrese usuarios" required="required">
								</div>

								<div class="form-group">
									<label for="email">Nit Proveedor <sup>*</sup>
									</label> <input id="txt_nit_proveedorUpdate" formControlName="nit" type="number"
										class="text_field" placeholder="Ingrese nit proveedor" required="required">
								</div>

							</div>
							<!-- end /.row -->
							<div class="row">
								<div class="col-md-6 offset-lg-8">
									<button type="submit" id="BtnActualizar"
										class="btn btn--round btn--default">Actualizar</button>
								</div>
							</div>
						</div>
					</div>
					<!-- end /.information_module -->
				</div>
			</div>
		</form>
		<!-- end /form -->
	</div>
	<!-- end /.container -->

	<!--================================
            END DASHBOARD AREA
    		=================================-->

	<!-- end /.modal-body -->
	<!--/div>
		</div>
	</div-->
</ng-template>